p > .btn {
  margin: 10px 0; }

h1 .label {
  line-height: 2.5em; }

h2 .label,
h3 .label,
h4 .label,
h5 .label,
h6 .label {
  line-height: 2.5em; }

.thumbnail img {
  height: 200px;
  width: 100%;
  display: block; }

.media img {
  width: 64px;
  height: 64px; }

.img-circle {
  margin: 0 2em; }

.coloured-background {
  background-color: #f0f3f5;
  margin-top: 1em;
  padding-bottom: 2em; }
  .coloured-background .row > div:nth-of-type(1) .thumbnail img {
    filter: sepia(90%) hue-rotate(10deg) saturate(4); }
  .coloured-background .row > div:nth-of-type(2) .thumbnail img {
    filter: sepia(90%) hue-rotate(100deg) saturate(4); }
  .coloured-background .page-header {
    margin: 0; }

.ToC {
  margin-top: 1em; }
  .ToC h1 {
    margin-bottom: 0.5em; }

.anchorHighlight {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1; }

@-webkit-keyframes flash {
  0% {
    color: #313131; }
  50% {
    color: #00bfe9;
    border-bottom-color: #00bfe9; }
  75% {
    color: #00bfe9;
    border-bottom-color: #bbb; }
  100% {
    color: #313131;
    border-bottom-color: #bbb; } }

@-moz-keyframes flash {
  0% {
    color: #313131; }
  50% {
    color: #00bfe9;
    border-bottom-color: #00bfe9; }
  75% {
    color: #00bfe9;
    border-bottom-color: #bbb; }
  100% {
    color: #313131;
    border-bottom-color: #bbb; } }

@-ms-keyframes flash {
  0% {
    color: #313131; }
  50% {
    color: #00bfe9;
    border-bottom-color: #00bfe9; }
  75% {
    color: #00bfe9;
    border-bottom-color: #bbb; }
  100% {
    color: #313131;
    border-bottom-color: #bbb; } }
