// Header, Footer and other global styles

// Page header
body > header {
  background-color: $gradient-dark;
  background: linear-gradient($gradient-angle, $gradient-light, $gradient-dark 80%);
  color: #fff;
  padding: 1.6em 0;
  &.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
  }
  a {
    color: #fff;
    &.has-img {
      .brand-heading .label {
        top: -0.4em;
      }
    }
  }
  .navbar-collapse,
  .tagline {
    width: 100%;
  }
  .brand {
    .brand-heading {
      font-weight: $font-weight-normal;
      margin: 0;
      font-size: 30px;
      display: inline-block;  // fallback for non-flex browsers (also, can't use @supports bue do IE11 😒)
    }
    .label {
      position: relative;
      margin-right: -3.65em;
      padding: 0 10px;
      margin-left: 0.3em;
      background-color: $primary-alt;
      border: none;
      transition: all 0.2s;
      font-size: 47%;
      padding-bottom: 0.1em;
      line-height: 1.5;
      top: -4px;
    }
  }
  a.brand {
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
    img {
      display: inline-block;
      margin-right: 20px;
      &.divider {
        border-right: 1px solid rgba(#fff, 0.3);
        padding-right: 30px;
        margin-right: 30px;
      }
    }
  }
  .nav {
    a {
      &:hover,
      &:active,
      &:focus {
        color: $primary;
        .caret {
          border-top-color: $primary;
        }
        .label {
          opacity: 1;
        }
      }
      &:active,
      &:focus {
        .caret {
          border-top-color: $primary-highlight;
        }
      }
    }
    .dropdown-menu li.dropdown-header {
      color: $grey;
    }
  }
  .caret {
    border-top-color: #fff;
  }


  // DTO's '3 shades of $primary' thick underline
  // on hover/focus/active this line visually expands to underline the whole title
  .style-line {
    &:before {
      transition: 0.35s all; // Transitions don't work for gradient bgs, so using position
      height: 7px;
      background-color: $gradient-light;
      background-size: 2.4em 7px;
      content: "";
      position: relative;
      bottom: -1.4em;
      right: 5.68em;
      float: right;
      width: 2.4em;
    }
    &:after {
      transition: 0.35s all; // Transitions don't work for gradient bgs, so using position
      height: 7px;
      background: linear-gradient(to left, $primary-highlight 0, $primary-highlight 25%, $primary-light 25%, $primary-light 75%, $gradient-light 75%) no-repeat;
      background-size: 2.4em 7px;
      content: "";
      position: relative;
      bottom: -1.4em;
      right: 2.78em;
      float: right;
      width: 2.9em;
    }
    &.brand-heading {
      padding-bottom: 20px;
      .label {
        opacity: 1;
      }
    }
  }
  .brand {
      &:hover,
      &:active,
      &:focus {
        .style-line {
          opacity: 1;
          text-decoration: none;
          &:before {
            right: 7.62em;
          }
        }
      }
  }

  // Header search
  .input-group {
    .form-control {
      border-color: #fff;
    }
    .input-group-btn {
      .btn {
        border-color: #fff;
        color: #fff;
      }
    }
  }

  // CTA links
  .cta-link {
    border-bottom: 1px solid $primary-highlight;
    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      border-bottom-color: transparent; // 0 will cause jumping
    }
  } // .cta-link

  // Colour schemes
  // as per http://uikit.apps.staging.digital.gov.au/packages/header/tests/site/
  // ...minus the "hero" class versions

  // Light
  &.light {
    background: $grey-light;  // can't just use background-color, due to gradient
    color: $grey-dark;
    a {
      color: $grey-dark;
    }
    .caret {
      border-top-color: $grey-dark;
    }
    a.brand {
      &:hover,
      &:active,
      &:focus {
        color: $grey-dark;
      }
      img.divider {
        border-color: $grey-border;
      }
    }
    .label {
      background-color: $grey;
    }
    .style-line {
      &:before {
        background-color: $grey;
      }
      &:after {
        background: linear-gradient(to left, $grey-dark 0, $grey-dark 25%, $grey-border 25%, $grey-border 75%, $grey 75%) no-repeat;
        background-size: 2.4em 7px;
      }
    }
    .cta-link {
      &:hover,
      &:active,
      &:focus {
        background-color: $primary-highlight;
        color: $grey-dark;
        border-bottom: 1px solid $primary-highlight;
        &:after {
          color: $grey-dark;
        }
      }
    }
  } // .light

  // Dark
  &.dark {
    background: $grey-dark;   // can't just use background-color, due to gradient
    .label {
      background-color: $grey-light;
      color: $grey-dark;
    }
    img.divider {
      border-color: $grey-border;
    }
    .style-line {
      &:before {
        background-color: $grey-border;
      }
      &:after {
        background: linear-gradient(to left, $grey 0, $grey 25%, $grey-light 25%, $grey-light 75%, $grey-border 75%) no-repeat;
        background-size: 2.4em 7px;
      }
    }
  } // .dark

  // Hero class. Just one, regardless of colour scheme
  &.hero {
    .container .row {
      padding: 3.5em 0;
    }
    .navbar-header {
      display: block;
      width: 100%;
      float: none;
    }
    .brand-heading {
      font-size: 44px;
      width: 100%;
      .label {
        top: -5px;
      }
    }
    .tagline {
      margin-top: 3.1em;
      font-size: 20px;
    }
  }
  p + p .cta-link {
    margin-top: 0.75em; // makgive the cta-link some space if there's a p tag (tagline) above it
  } // .hero
} // header

// Nav bar under header
.main-nav {
  border-bottom: 4px solid $grey-border;
  background-color: $grey-light;
  .navbar-collapse {
    padding: 0;
  }
  .dropdown-menu {
    min-width: 100%;
  }
  .nav {
    margin-bottom: -4px;
    & > .active > a {
      border: none;
      &:hover,
      &:active,
      &:focus {
        border: none;
        border-bottom-width: 4px;
      }
    }
    a {
      border-radius: 0;
      border-bottom: 4px solid transparent;
      color: $primary-dark;
    }
  }
  .input-group {
    margin-bottom: -5px;
    .form-control {
      padding: 1.46em 0.7em;
      border: none;
      border-bottom: 4px solid $grey-border;
      &:hover {
        border-bottom-color: $primary;
      }
      &:active,
      &:focus {
        border-bottom-color: $primary-highlight;
      }
    }
    .btn {
      border: none;
      border-right: 1px solid $grey-border;
      padding: 13px 15px;
      border-bottom: 4px solid $grey-border;
      &:hover {
        border-bottom-color: $primary;
        color: $grey-dark;
        background-color: $primary-highlight;
      }
      &:active,
      &:focus {
        border-bottom-color: $primary-highlight;
        color: #fff;
        background-color: $primary-dark;
      }
    }
  }
} // main-nav



// Page header
.page-header {
  margin-top: 100px;
}



// Footer
body > footer {
  margin-top: 3.2em;
  padding: 1.6em 0;
  background-color: $grey-light;
  border-top: 6px solid $primary-darker;
  .row {
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid $grey-border;
    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
  small {
    display: inline-block;
    margin-top: 4.4em;
  }
}
