// Elements


//  Buttons
.btn {
  border-radius: $radius-small;
}
.btn-default {
  background-color: $grey;
  border-color: darken($grey, 10%);
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($grey, 10%);
    border-color: darken($grey, 10%);
    color: #fff;
  }
}
.btn-primary {
  background-color: $primary-alt;
  border-color: darken($primary-alt, 10%);
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($primary-alt, 10%);
    border-color: darken($primary-alt, 10%);
  }
}
.btn-success {
  background-color: $green;
  border-color: darken($green, 10%);
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($green, 10%);
    border-color: darken($green, 10%);
  }
}
.btn-info {
  background-color: $blue-dark;
  border-color: darken($blue-dark, 10%);
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($blue-dark, 10%);
    border-color: darken($blue-dark, 10%);
  }
}
.btn-warning {
  background-color: $maron;
  border-color: darken($maron, 10%);
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($maron, 10%);
    border-color: darken($maron, 10%);
  }
}
.btn-danger {
  background-color: $red;
  border-color: darken($red, 10%);
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($red, 10%);
    border-color: darken($red, 10%);
  }
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #337ab7;
    background-color: darken( lighten($primary, 10%), 10% );
    border-color: $primary;
}



// Labels
.label {
  font-weight: $font-weight-normal;
}
.label-default {
  background-color: $grey;
}
.label-primary {
  background-color: $primary;
}
.label-success {
  background-color: $green;
}
.label-info {
  background-color: $blue-dark;
}
.label-warning {
  background-color: $maron;
}
.label-danger {
  background-color: $red;
}


// Progress bars
.progress-bar {
  background-color: $blue-bright;
}
.progress-bar-default {
  background-color: $grey;
}
.progress-bar-primary {
  background-color: $primary;
}
.progress-bar-success {
  background-color: $green;
}
.progress-bar-info {
  background-color: $blue-dark;
}
.progress-bar-warning {
  background-color: $maron;
}
.progress-bar-danger {
  background-color: $red;
}

// Badges
.badge {
  background-color: $grey;
}


// alert
.alert {
  border-radius: $radius-small;
  // margin: 1.6em 0.8em;
  padding: 1.2em;
  box-shadow: 0 0 8px #bbbbbb;
  color: $grey-dark;
  background: transparent;
  border: none;
}
.alert-default {
  padding-left: 1.6em;
}
.alert-primary {
  border-left: 0.4em solid $primary;
}
.alert-success {
  border-left: 0.4em solid $green;
}
.alert-info {
  border-left: 0.4em solid $blue-dark;
}
.alert-warning {
  border-left: 0.4em solid $maron;
}
.alert-danger {
  border-left: 0.4em solid $red;
}

// basically the p tag equiv of above
.text-muted {
  color: $grey;
}
.text-primary {
  color: $primary;
}
.text-success {
  color: $green;
}
.text-info {
  color: $blue-dark;
}
.text-warning {
  color: $maron;
}
.text-danger {
  color: $red;
}





.container {
  .jumbotron,
  .well {
    border-radius: $radius-small;
    border: 0;
    background-color: $blue-light;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.8em;
    }
  }
}
.container {
  .jumbotron{
    h1 {
      font-size: 230%;
    }
  }
}


.page-header {
  border-bottom: 1px solid $grey-light;
}





// inline list of links
.nav-tabs,
.nav-pills {
  border-bottom: 1px solid $grey;
  margin: 3.2em 0;
  li {
    font-size: $font-size-large;
    a {
      border-radius: 0;
      border: none;
      border-bottom: solid 4px transparent;
      &:active,
      &:focus,
      &:hover {
        background-color: $blue-bright;
        border-bottom-color: $primary;
        border-bottom: 4px solid $primary;  // can't just do colour because of .nav-tabs
      }
    }
    &.active {
      a {
        color: $primary;
        background-color: $blue-light;
        margin-right: 0;
        border: none;
        border-bottom: 4px solid $primary;  // can't just do colour because of .nav-tabs
        &:active,
        &:focus,
        &:hover {
          color: $primary;
          background-color: $blue-light;
          border: none;
          border-bottom: 4px solid $primary;  // can't just do colour because of .nav-tabs
        }
        .badge {
          background-color: $primary;
          color: #fff;
        }
      }
    }
    & + li {
      margin-left: 0;
    }
  }
}






// forms
form {
  [type='text']:invalid,
  [type='number']:invalid,
  [type='tel']:invalid,
  [type='email']:invalid,
  [type='password']:invalid,
  textarea:invalid,
  input[type='radio']:invalid,
  input[type='checkbox']:invalid,
  .invalid[type='text'],
  .invalid[type='number'],
  .invalid[type='tel'],
  .invalid[type='email'],
  .invalid[type='password'],
  textarea.invalid,
  input.invalid[type='radio'],
  input.invalid[type='checkbox'] {
      outline: 2px solid $red;
  }
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
  color: $green;
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label {
  color: $maron;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: $red;
}




// Tables
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $grey-light;
}
.table {
  & > thead,
  & > tbody,
  & > tfoot {
    & > tr {
      &>td,
      &>th {
        border-top: 1px solid $grey-light;
      }
    }
  }
  & > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $grey-light;
  }
}
.table-bordered {
  border: 1px solid $grey-light;
  & > thead,
  & > tbody,
  & > tfoot {
    & > tr {
      &>td,
      &>th {
        border: 1px solid $grey-light;
      }
    }
  }
}



// Images
.img-circle,
.img-rounded,
.img-thumbnail {
  border: 1px solid $grey-light;
}
.img-rounded,
.img-thumbnail {
  border-radius: $radius;
}

// thumbnails
.thumbnail {
  padding: 0;
  border: 1px solid $grey-light;
  .caption {
    padding: 9px 13px;
    .meta,
    time,
    small {
      color: $grey;
      padding: 0.8em 0;
      display: inline-block;
    }
  }
}

// media
.media-heading {
  margin-bottom: 10px;
}


// Panels
.panel {
  border-radius: $radius;
  .panel-heading {
    color: #fff;
  }
}
.panel-default {
  border-color: $blue-light;
  .panel-heading {
    color: $grey-dark;
    border-color: $blue-light;
    background-color: $blue-light;
  }
}
.panel-primary {
  border-color: $primary;
  .panel-heading {
    background-color: $primary;
    border-color: $primary;
  }
}
.panel-success {
  border-color: $green;
  .panel-heading {
    background-color: $green;
    border-color: $green;
  }
}
.panel-info {
  border-color: $blue-dark;
  .panel-heading {
    background-color: $blue-dark;
    border-color: $blue-dark;
  }
}
.panel-warning {
  border-color: $maron;
  .panel-heading {
    background-color: $maron;
    border-color: $maron;
  }
}
.panel-danger {
  border-color: $red;
  .panel-heading {
    background-color: $red;
    border-color: $red;
  }
}



// List groups
.list-group {
  border-radius: $radius;
  .list-group-item.active {
    background-color: $primary;
  }
}



// forms
.input-group-addon {
    border-radius: $radius;
}
.input-group-addon {
  color: $grey;
  background-color: $grey-light;
  border: 1px solid $grey-border;
}
.form-control {
  color: $grey;
  border: 1px solid $grey-border;
}
select.form-control {
  margin-bottom: 10px;
}
