// Header, Footer and other global styles

body {
  // page header
  & > header {
    background-color: $gradient-dark;
    background: linear-gradient(200deg, $gradient-light, $gradient-dark 80%);
    color: #fff;
    padding: 1.6em 0;
    a {
      color: #fff;
    }
    .navbar-brand,
    .brand-name {
      margin: 0;
      a {
        &:hover,
        &:active,
        &:focus {
          color: #fff;
          opacity: 0.9;
        }
        img {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
    &.navbar {
      border-radius: 0;
    }
    .navbar-right {
      margin-top: 0.5em;  // vertically center the menu, assuming default logo size is used. TODO: do this smarter.
    }
  }



  // footer
  & > footer {
    margin-top: 3.2em;
    padding: 1.6em 0;
    background-color: $grey-light;
    border-top: 6px solid #043751;
    .row {
      padding-bottom: 3em;
      margin-bottom: 3em;
      border-bottom: 1px solid $grey-border;
      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
    small {
      display: inline-block;
      margin-top: 2.2em;
    }
  }
}
