// Responsive styles

// breakpoint for mobile/hamburger menu
@media (max-width: 768px) {

  // Main menu
  .navbar-toggle {
    border: 1px solid #fff;
    margin-top: 1.05em;
    border-radius: $radius-small;
    .icon-bar {
      background-color: #fff;
      transition: color 0.2s, opacity 0.4s, transform 0.6s
    }
    &:not(.collapsed) {
      .icon-bar {
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(4) {
          transform: rotate(45deg);
          margin-top: -2px !important;
          margin-bottom: 6px;
        }
        &:nth-of-type(3) {
          transform: rotate(-225deg);
          margin-top: 6px;
          // if we want a "^" instead, tweaks thsese:
          // margin-top: -2px !important;
          // margin-bottom: 6px;
          // margin-left: 8px;
        }
      }
    }
  }
  .navbar-collapse {
    border-top: none;
    box-shadow: none;
    margin-top: 1em;
    background-color: rgba(#fff, 0.1);
    @include blurBG();
    li a {
      padding-top: 15px;
      padding-bottom: 15px;
      color: #fff;
      &:hover,
      &:active,
      &:focus {
        color: $grey-dark;
      }
    }
    .dropdown {
      .divider {
        background-color: rgba(#fff, 0.5);
      }
    }
    .dropdown.open {
      color: $grey-dark;
      background-color: rgba(#fff, 0.3);
      li a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    .dropdown.open > a,
    .dropdown > a:hover {
      color: $grey-dark;
    }
    .dropdown-header {
      color: $blue-light;
      margin-left: -10px;
    }
  }
} // max 768px




@media screen and (min-width: 768px) {
  header {
    h2.brand.has-img {
      margin-top: -0.5em;
      img {
        margin-top: 0.5em;
      }
    }
  }
  form input[type='radio']+label::before,
  form input[type='checkbox']+label::before {
      top:9px
  }
  form input[type='radio']:checked+label::after {
      top:14px
  }
  .nav-tabs.nav-justified>li>a {
    border-bottom: 4px solid transparent;
    &:hover,
    &:active,
    &:focus {
      border-bottom-color: $primary;
    }
  }

  // DTO style colour bar under site title in header
  // very much made to work for the specific content, so will need to tweak for other headings
  // made cooler with on hover awesomeness :) ...but not for IE - see _browser-hacks.scss
  header {
    .brand.style-line {
      a {
        &:before {
          transition: 0.35s all; // nope - this doesn't work for gradient bgs!, so using opacity
          height: 7px;
          background-color: $gradient-light;
          background-size: 2.4em 7px;
          content: "";
          position: relative;
          bottom: -2.1em;
          right: 5.3em;
          float: right;
          width: 2.4em;
        }
        &:after {
          transition: 0.2s all; // nope - this doesn't work for gradient bgs!
          height: 7px;
          background: linear-gradient(to left, $blue-bright 0, $blue-bright 25%, $blue-light 25%, $blue-light 75%, $gradient-light 75%) no-repeat;
          background-size: 2.4em 7px;
          content: "";
          position: relative;
          bottom: -2.1em;
          right: 2.4em;
          float: right;
          width: 2.9em;
        }
        &:hover,
        &:active,
        &:focus {
          opacity: 1;
          text-decoration: none;
          &:before {
            right: 7.3em;
          }
        }
      }
    }
  }
} // min 768px



@media (min-width:400px) {
  .popover-title {
    min-width: 200px;
  }
}
