// these styles are just for the demo pages - you don't need them

//  Variables
@import  'vars';

// mixins
@import  'mixins';


.nav-tabs,
.nav-pills {
  margin: 3.2em 0;
}

p > .btn {
  margin: 10px 0;
}

h1 .label {
  line-height: 2.5em;
}
h2,
h3,
h4,
h5,
h6 {
  .label {
    line-height: 2.5em;
  }
}

.thumbnail img {
  height: 200px;
  width: 100%;
  display: block;
}

.media {
  img {
    width: 64px;
    height: 64px;
  }
}

.img-circle {
  margin: 0 2em;
}

.coloured-background {
  background-color: $grey-light;
  margin-top: 1em;
  padding-bottom: 2em;
  .row > div {
    &:nth-of-type(1) .thumbnail img {
      filter: sepia(90%) hue-rotate(10deg) saturate(4);
    }
    &:nth-of-type(2) .thumbnail img {
      filter: sepia(90%) hue-rotate(100deg) saturate(4);
    }
  }
  .page-header {
    margin: 0;
  }
}

.ToC {
  margin-top: 1em;
  h1 {
    margin-bottom: 0.5em;
  }
}

// bit more space before the page footer
body > footer {
  margin-top: 5.5em;
}



// for jump to Flash animation
.anchorHighlight {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1;
}
// @-webkit-keyframes flash {
//   0% { background-color:none;}
//   50% { background-color:$blue-bright;}
//   100% {background-color:none;}
// }
// @-moz-keyframes flash {
//   0% { background-color:none;}
//   50% { background-color:$blue-bright;}
//   100% {background-color:none;}
// }
// @-ms-keyframes flash {
//   0% { background-color:none;}
//   50% { background-color:$blue-bright;}
//   100% {background-color:none;}
// }
@-webkit-keyframes flash {
  0% { color:$grey-dark;}
  50% { color:$blue-bright;border-bottom-color:$blue-bright;}
  75% { color:$blue-bright;border-bottom-color:$grey-border;}
  100% {color:$grey-dark;border-bottom-color:$grey-border;}
}
@-moz-keyframes flash {
  0% { color:$grey-dark;}
  50% { color:$blue-bright;border-bottom-color:$blue-bright;}
  75% { color:$blue-bright;border-bottom-color:$grey-border;}
  100% {color:$grey-dark;border-bottom-color:$grey-border;}
}
@-ms-keyframes flash {
  0% { color:$grey-dark;}
  50% { color:$blue-bright;border-bottom-color:$blue-bright;}
  75% { color:$blue-bright;border-bottom-color:$grey-border;}
  100% {color:$grey-dark;border-bottom-color:$grey-border;}
}





// DTO style colour bar under site title in header
// made cooler with on hover awesomeness :) ...but not for IE
@media screen and (min-width: 768px) {
  header {
    h2.brand {
      margin-top: -0.5em;
      img {
        margin-top: 0.5em;
      }
      a {
        &:before {
          transition: 0.35s all; // nope - this doesn't work for gradient bgs!, so using opacity
          height: 7px;
          background-color: $gradient-light;
          background-size: 2.4em 7px;
          content: "";
          position: relative;
          bottom: -2.1em;
          right: 5.3em;
          float: right;
          width: 2.4em;
        }
        &:after {
          transition: 0.2s all; // nope - this doesn't work for gradient bgs!
          height: 7px;
          background: linear-gradient(to left, $blue-bright 0, $blue-bright 25%, $blue-light 25%, $blue-light 75%, $gradient-light 75%) no-repeat;
          background-size: 2.4em 7px;
          content: "";
          position: relative;
          bottom: -2.1em;
          right: 2.4em;
          float: right;
          width: 2.9em;
        }
        &:hover,
        &:active,
        &:focus {
          opacity: 1;
          text-decoration: none;
          &:before {
            right: 7.3em;
          }
        }
      }
    }
  }
}
@media all and (-ms-high-contrast:none) {
  .brand a::before, .brand a::after { background: transparent !important; } /* IE10 */
  h2.brand, h2.brand a img { margin-top: 0; } /* IE10 */
  *::-ms-backdrop, .brand a::before, .brand a::after { background: transparent !important; } /* IE11 */
  *::-ms-backdrop, h2.brand, h2.brand a img { margin-top: 0; } /* IE11 */
}
@supports (-ms-ime-align:auto) {
  h2.brand a::before, h2.brand a::after { background: transparent !important; } /* edge */
  h2.brand, h2.brand a img { margin-top: 0; } /* edge */
}
