// these styles are just for the demo pages - you don't need them

//  Variables
@import  'vars';

// mixins
@import  'mixins';


.nav-tabs,
.nav-pills {
  margin: 3.2em 0;
}

p > .btn {
  margin: 10px 0;
}

h1 .label {
  line-height: 2.5em;
}
h2,
h3,
h4,
h5,
h6 {
  .label {
    line-height: 2.5em;
  }
}

.thumbnail img {
  height: 200px;
  width: 100%;
  display: block;
}

.media {
  img {
    width: 64px;
    height: 64px;
  }
}

.img-circle {
  margin: 0 2em;
}

.coloured-background {
  background-color: $grey-light;
  margin-top: 1em;
  padding-bottom: 2em;
  .row > div {
    &:nth-of-type(1) .thumbnail img {
      filter: sepia(90%) hue-rotate(10deg) saturate(4);
    }
    &:nth-of-type(2) .thumbnail img {
      filter: sepia(90%) hue-rotate(100deg) saturate(4);
    }
  }
  .page-header {
    margin: 0;
  }
}

.ToC {
  margin-top: 1em;
  h1 {
    margin-bottom: 0.5em;
  }
}

// bit more space before the page footer
body > footer {
  margin-top: 5.5em;
}



// for jump to Flash animation
.anchorHighlight {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1;
}
// @-webkit-keyframes flash {
//   0% { background-color:none;}
//   50% { background-color:$blue-bright;}
//   100% {background-color:none;}
// }
// @-moz-keyframes flash {
//   0% { background-color:none;}
//   50% { background-color:$blue-bright;}
//   100% {background-color:none;}
// }
// @-ms-keyframes flash {
//   0% { background-color:none;}
//   50% { background-color:$blue-bright;}
//   100% {background-color:none;}
// }
@-webkit-keyframes flash {
  0% { color:$grey-dark;}
  50% { color:$blue-bright;border-bottom-color:$blue-bright;}
  75% { color:$blue-bright;border-bottom-color:$grey-border;}
  100% {color:$grey-dark;border-bottom-color:$grey-border;}
}
@-moz-keyframes flash {
  0% { color:$grey-dark;}
  50% { color:$blue-bright;border-bottom-color:$blue-bright;}
  75% { color:$blue-bright;border-bottom-color:$grey-border;}
  100% {color:$grey-dark;border-bottom-color:$grey-border;}
}
@-ms-keyframes flash {
  0% { color:$grey-dark;}
  50% { color:$blue-bright;border-bottom-color:$blue-bright;}
  75% { color:$blue-bright;border-bottom-color:$grey-border;}
  100% {color:$grey-dark;border-bottom-color:$grey-border;}
}
